body{
    min-height: 100dvh;
    display:flex;
    flex-direction: column;
    width: 100%;
}

header{
    padding-right: 10px;
    padding-left: 10px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    width: 100%;
    background-color: orange;
}

.menu-btn-direction{
    display:flex;
    flex-direction: column;
    gap: 3px;
}

.menu-btn{
    height: 5px;
    width: 30px;
    background-color: white;
}

.section-direction{
    gap: 2px;
    padding: 2px;
    display: flex;
    flex-grow: 1;
}

.sectionOne{
    background-image: url("./assets/img/sections_header/sectionOneBgImg.png");
    width: calc(100% - 300px);
    padding: 16px;
    border: 2px solid;
}