body{
    min-height: 100dvh;
    display:flex;
    flex-direction: column;
    width: 100%;
}

header{
    padding-right: 10px;
    padding-left: 10px;
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100%;
    background-color: orange;
}

.inner{
    max-width: 1440px;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.menu-btn-direction{
    display:flex;
    flex-direction: column;
    gap: 3px;
}

.menu-btn{
    height: 5px;
    width: 30px;
    background-color: white;
}

.contentLimitation{
    justify-content: center;
    display:flex;
    flex:1
}

.section-direction{
    max-width: 1440px;
    gap: 2px;
    padding: 2px;
    display: flex;
    flex-grow: 1;  
}

@media(max-width: 600px){
    .section-direction{
        display:flex;
        flex-direction: column;
    }
}

.sectionOne{
    /* background-image: url("./assets/img/sections_header/sectionOneBgImgtest.png"); */
    width: calc(100% - 300px);
    padding: 16px;
    border: 2px solid;
    /* object-fit: cover;
    background-repeat: no-repeat; */
    /* background-size: cover; */
    height: auto;
    display:flex;
    flex-direction: column;
    gap: 20px;
    
}

@media(max-width: 600px){
    .sectionOne{
        width: 100%;
    }
}

.first-picture{
    height: 200px;
    width: 100%;
    object-fit: cover;
}

.main-dishes{
    display: flex;
    flex-direction: column;
    height: auto;
    width: 100%;
    flex: 1;
    gap: 5px;
    overflow-y: auto;
    /* justify-content: space-between; */
}

.main-dishes-picture{
    height: 100px;
    width: 100%;
    object-fit: cover;
}

.dish{
    display:flex;
    flex-direction: column;
    height: auto;
    width: 100%;
    border: 1px solid black;
    gap: 2px;
    padding: 3px;
}

.h3-btn-direction{
    display:flex;
    justify-content: space-between;
}

.cartDish{
    height: 100px;
    width: 100%;
    border: 1px solid black;
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.btnInputDirection{
    display:flex;
    justify-content: space-evenly;
}

footer{
    background-color: orange;
    height: 100px;
    width: 100%;
}