.logoMiddle{
    position:absolute;
    top: 175px;
}

.addBtn{
    color: orange;
    height: 20px;
    width: 20px;
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    cursor: pointer;
}

.cartBtnMinus{
    height: 20px;
    width: 20px;
    color: orange;
    font-size: 25px;
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    cursor: pointer;
}

.cartBtnPlus{
    height: 20px;
    width: 20px;
    color: orange;
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    cursor: pointer;
}

.cartBtnDelete{
    height: 20px;
    width: 20px;
    color: orange;
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    cursor: pointer;
}

input{
    width: 40px;
}

.submitBtn{
    width: 100%;
    height: 50px;
    background-color: orange;
}

.submitBtn:hover{
    cursor: pointer;
    color: white;
}

.prices{
    display:flex;
    flex-direction: column;
    gap: 8px;
    margin-top: 12px;
}
