.logo_middle{
    position:absolute;
    top: 175px;
}

.add_btn{
    color: orange;
    height: 20px;
    width: 20px;
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    cursor: pointer;
}

.cart_btn_minus{
    height: 20px;
    width: 20px;
    color: orange;
    font-size: 25px;
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    cursor: pointer;
}

.cart_btn_plus{
    height: 20px;
    width: 20px;
    color: orange;
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    cursor: pointer;
}

.cart_btn_delete{
    height: 20px;
    width: 20px;
    color: orange;
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    cursor: pointer;
}

input{
    width: 40px;
}

.submit_btn{
    width: 100%;
    height: 50px;
    background-color: orange;
}

.submit_btn:hover{
    cursor: pointer;
    color: white;
}

.prices{
    display:flex;
    flex-direction: column;
    gap: 8px;
    margin-top: 12px;
}

.close_dialog_button{
    height: 50px;
    width: 50px;
    background-color: orange;
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
}
