.basket-wrapper{
    width: 300px;
    flex-grow: 1;
    padding: 16px;
    height: 100%;
}

.basket{
    width: 100%;
    position: sticky;
    top: 0px;   
}

.basket_items{
    width: 100%;
    height: 600px;
    overflow-y: auto; 
    border: 1px solid black;
}

.open_basket_button{
    display:none;
}

.close_basket_button_d_none{
    display:none;
}

@media(max-width: 600px){
    .basket-wrapper{
        position: sticky;
        bottom: 0px;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: auto;
        background-color: white;
    }
    .basket{
        position: relative;
        bottom: 0px;
        top: 0px;
        
    }    
    .open_basket_button{
        display:flex;
        flex-direction: column;
        justify-content: center;
        background-color: orange;
        width: 100%;
        height: 60px;

    }
    .close_basket_button{
        display:flex;
        flex-direction: column;
        justify-content: center;
        background-color: orange;
        width: 100%;
        height: 60px;
    }
    .open_basket_button:hover{
        cursor: pointer;
    }

    .d_none{
        display: none;
    }
    .basket_items{
        height: 315px;
    }
}

.basket-Responsive{
    display:none;  
}

.costs{
    display:flex;
    justify-content: space-between;
}

table{
    border-spacing: 10px;
}

.submit_order_dialog{
    display:flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    width: 100%;
    border: 5px solid black;
    background-color: orange;
}

.submit_order_dialog::backdrop{
    opacity: 0.5;
    background-color: black;
}

.responsiveBasketDialog{
    height: 700px;
    width: 100%;
    border: 5px solid black;
}

.basketWrapperResponsive{
    width: 100%;
    flex: 1;
    padding: 16px;
    height: 435px;
}

dialog{
    margin: auto;
    width: 100%;
}

.cartDish{
    height: 100px;
    width: 100%;
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.btnInputDirection{
    display:flex;
    justify-content: space-evenly;
}
