.basket-wrapper{
    width: 300px;
    flex-grow: 1;
    border: 2px solid;
    padding: 16px;
    overflow-y: auto;
    height: auto;
}

.basket{
    width: 100%;
    position: sticky;
    top: 0px;  
}

.basket_items{
    width: 100%;
    height: 500px;
    border-top: 1px;
    border-bottom: 1px;
    border-color: black;
    overflow-y: auto;
}

.open_basket_button{
    display:none;
}



@media(max-width: 600px){
    .basket-wrapper{
        position: sticky;
        bottom: 0px;
        /* height: 100px; */
        width: 100%;
    }
    .basket{
        
        bottom: 0px;
        top: auto;
    }
    
    .open_basket_button{
        display: block;
    }
    .d_none{
        display: none;
    }
}

.basket-Responsive{
    display:none;  
}

/* @media(max-width: 600px){
.basket-Responsive{
    background-color: blue;
    position: sticky;
    bottom: 0px;
    height: 50px;
    width: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
    border: 5px solid white;
    }
} */

.costs{
    display:flex;
    justify-content: space-between;
}

table{
    border-spacing: 10px;
}

.testOrder{
    display:flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    width: 100%;
    border: 5px solid black;
    background-color: orange;
}

.testOrder::backdrop{
    opacity: 0.5;
    background-color: black;
}

.responsiveBasketDialog{
    height: 700px;
    width: 100%;
    border: 5px solid black;
}

.basketWrapperResponsive{
    width: 100%;
    flex: 1;
    padding: 16px;
    overflow-y: auto;
    height: 435px;
}

dialog{
    margin: auto;
    width: 100%;
}
