.rating{
    color: orange;
}

h2{
    text-align: center;
}

.main-dishes{
    font-size: 15px;
    font-weight: bold;
}

.description{
    font-weight: 100;
}

.price{
    color: orange;
}

@media(max-width: 600px){
    .basketResponsive{
        color: white;  
    }   
}

.sum{
    font-weight: bold;
}