.rating{
    color: orange;
}

h2{
    
    text-align: center;
}

.cart_H3{
    text-align: center;
}

.main_dishes{
    font-size: 15px;
    font-weight: bold;
}

.description{
    font-weight: 100;
}

.price{
    color: orange;
}

@media(max-width: 600px){
    .basketResponsive{
        color: white;  
    }   
}

.sum{
    font-weight: bold;
}

.basket_button_font_amount{
    font-size: 20px;
    color: black;
}

.basket_button_font_hover_white{
    font-size: 20px;
    color: black;
}

.basket_button_font_hover_white:hover{
    color: white;
}

.close_dialog_button{
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.close_dialog_button:hover{
    color: white;
}
